.CensusDashboard {
    margin: 70px 0;
    .nav-link {
        font-size: 20px;
        color: #000;
    }
    .nav-link:hover {
        color: grey;
    }
    .gis-container {
        text-align: justify;
        padding-right: 0;
        padding-left: 28px;
        /* .col-md-8 {
            
        }
        .col-md-4 {
            padding: 0px 40px;
            padding-right: 13px;
        } */
    }

    .insights-box {
        padding-left: 40px;
        text-align: left;
        p, h4 {
            margin-bottom: 5px;
        }
        h4 {
            text-align: left;
        }
        p {
            font-size: 1.3em;
            margin-bottom: 20px;
            text-align: justify;
        }
        li {
            font-size: 1.3em;
            margin: 10px 0;
        }
    }
    .full-width-select {
        width: 99%;
    }
    .half-width-select {
        width: 49.2%;
        margin: 10px 2px;
    }
    .census-item-section {
        /* margin-top: 20px;
        margin-bottom: 30px; */
        // padding: 0 20px;
    }
}