@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700|Roboto:300,400,500,700');

.Overview {
    margin: 20px 0;
    margin-bottom: 100px;
    h3 {
        font-size: 2.5em;
        margin-top: 5px;
    }
    .city-facts {
        text-align: center;
    }
    .card {
        background-color: #f6f6f6;
        margin-bottom: 30px;
        img {
            height: 70px;
            margin: 10px auto 10px auto;
        }
        small {
            font-size: 1em;
        }
        small, p {
            font-family: 'Mulish', sans-serif;
        }
    }
    .card-container {
        padding-right: 90px;
        .row {
            margin: 0;
        }
    }
    .card-container-description {
        text-align: right;
        padding: 0 40px;
        padding-right: 13px;
        h1 {
            font-size: 3.2rem;
            font-weight: 900;
            margin: 0;
            // width: 100%;
            padding-right: 15px;
            height: max-content;
            display: table-cell;
            vertical-align: middle;
            text-align: right;
            border-right: 8px solid #f6264c;
        }
        h2 {
            margin-bottom: 10px;
            text-align: left;
        }
        .title-container {
            height: 100%;
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: flex-end; 
        }
        .overview-description {
            font-size: 1.3em;
            // text-align: justify;
        }
        p, h4 {
            text-align: justify;
        }
    }
}