.Security{
    .heading {
        margin-top: 80px;
        margin-bottom: 70px;
    }
    .street-light img {
        width: 70%;
        margin-top: 30px;
    }
    .car img {
        width: 50%;
        margin-top: 30px;
    }

    .road-safety {
        margin:30px 40px 30px 30px;
        padding: 0px 190px;
    }

    .safety img{
        width: 20%;
        margin-bottom: 10px;
    }

    .light-network {
        margin-bottom: 85px;
    }

    .light-network-length-header, .road-accident-fatalities-header {
        margin-top: 80px;
        margin-bottom: 50px;
    }

    .light-network-length, .road-accident-fatalities {
        font-size: 35px;
    }

    .footer {
        margin-bottom: 60px;
    }
}
