.Inclusion {
    h3 {
        margin: 20px 0px;
    }
    .spending-bar {
        canvas {
            margin-top: 50px;
        }
    }
    section {
        margin-bottom: 100px;
        padding-bottom: 50px;
        border-bottom: 0.3px dotted #aaa;
    }
    
    .description {
        margin-top: 50px;
        margin-bottom: 0px;
    }
}