.Header {
    .header-box {
        width: 200px;
    }
    .learn-more {
        font-size: 1.3em;
        margin-bottom: 30px;
        padding-left: 70px;
    }
    h1 {
        color: #f6264c;
    }
}